.container { 
    width: 1024px;
    margin: 0 auto;
    background-color: #efeee7;
    height: 375px;
}

body {
    margin: 0;
    padding: 0;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #333333;
}

header {
    background-color: #333333;
}

h1 {
    color: #efeee7;
    font-size: 28px;
    padding: 10px;
    margin: 0px;
    text-align: center;
}

h2 {
    font-size: 24px;
}

#main-bio,
#contact-info,
#bio-image {
    float: left;
}

#bio-image {
    width: 200px;
    padding-right: 10px;
}

#main-bio {
    width: 65%;
    padding-left: 20px;
}

#contact-info {
    width: 30%;
}

a {
    color: #d21034
}
